<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- CSS  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
      <link href="/stylesheets/cover.css" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="cover-container container">

      <div class="row">
        <div class="col">
          <header class="masthead mb-auto">
            <div class="inner">
              <a class="masthead-brand" href="/">John Grotke</a>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/about">About Me</a>
                <a class="nav-link" href="/resume">Resume</a>
                <a class="nav-link active" href="/contact">Contact</a>
              </nav>
            </div>
          </header>
        </div>
      </div>


      <div class="row justify-content-md-center" style="margin-top:1rem; height:100%">
        <div class="col" style="margin-top:1rem; height:100%">



          <form name="htmlform" method="post" action="/html_form_send">
          <table width="450px">
          </tr>
          <tr>
           <td valign="top">
            <label for="first_name">First Name *</label>
           </td>
           <td valign="top">
            <input  type="text" name="first_name" maxlength="50" size="30">
           </td>
          </tr>

          <tr>
           <td valign="top">
            <label for="last_name">Last Name *</label>
           </td>
           <td valign="top">
            <input  type="text" name="last_name" maxlength="50" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="email">Email Address *</label>
           </td>
           <td valign="top">
            <input  type="text" name="email" maxlength="80" size="30">
           </td>

          </tr>
          <tr>
           <td valign="top">
            <label for="telephone">Telephone Number</label>
           </td>
           <td valign="top">
            <input  type="text" name="telephone" maxlength="30" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="comments">Comments *</label>
           </td>
           <td valign="top">
            <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
           </td>

          </tr>
          <tr>
           <td colspan="2" style="text-align:center">
            <input type="submit" value="Submit">   ( <a href="http://www.freecontactform.com/html_form.php">HTML Form</a> )
           </td>
          </tr>
          </table>
          </form>




        </div>
      </div>
    </div>
    <!-- Javascript  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
